*{
  margin:0;
  padding:0;
}

body{
  background:url('../src/assets/Background-img.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family:cursive;
}